version: '3.8'

services:


  postgres:
    image: ankane/pgvector
    container_name: postgres_airflow
    environment:
      - PG_HOST_AUTH_METHOD=scram-sha-256
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    ports:
      - "5432:5432"
    volumes:
      - pgvector_data:/var/lib/postgresql/data
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U airflow"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s


  minio:
    image: minio/minio
    container_name: minio_storage
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=minio123
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - backend
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
      start_period: 10s
    depends_on:
      postgres:
        condition: service_healthy

  django-chat-interface:
    build:
      context: ./chat-Interface
      dockerfile: Dockerfile
    container_name: django_chat_interface
    volumes:
      - ./chat-Interface:/app
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - DEBUG=1
      - SECRET_KEY=tu_clave_secreta
      - DATABASE_URL=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
    networks:
      - backend        

  mlflow:
    build: ./mlflow
    env_file:
      - .env
    container_name: mlflow_tracking
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_healthy
    ports:
      - "5000:5000"
    environment:
      - MLFLOW_S3_ENDPOINT_URL=http://minio:9000
      - AWS_ACCESS_KEY_ID=minio
      - AWS_SECRET_ACCESS_KEY=minio123
      - POSTGRES_HOST=postgres_airflow
      - POSTGRES_PORT=5432
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=mlflow_db
    networks:
      - backend
    healthcheck:
      test: ["CMD", "curl", "-v", "-f", "http://mlflow:5000"]
      interval: 30s
      timeout: 20s
      retries: 3
      start_period: 10s

  fastapi:
    build: ./app
    env_file:
      - .env
    volumes:
      - ./data:/data
    container_name: fastapi_server
    depends_on:
      postgres:
        condition: service_healthy
      mlflow:
        condition: service_healthy
    ports:
      - "8800:8800" 
    networks:
      - backend
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
      - HUGGINGFACE_TOKEN=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
      - DB_NAME=airflow
      - DB_USER=airflow
      - DB_PASSWORD=airflow
      - DB_HOST=postgres
      - DB_PORT=5432
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8800/health"]
      interval: 10s
      timeout: 5s
      retries: 5



  airflow-webserver:
    build: './airflow'
    image: ${AIRFLOW_IMAGE_NAME:-extending_airflow:latest}
    container_name: airflow_web_server
    depends_on:
      postgres:
        condition: service_healthy
    entrypoint: /entrypoint.sh
    ports:
      - "8081:8080"
    user: "50000:0"
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      - AIRFLOW__WEBSERVER__SECRET_KEY=tEfCEsmDia_9y6UZwGy-PzmMrYWaS4dcSeFDVpzHsoo=
      - AIRFLOW__CORE__FERNET_KEY=tEfCEsmDia_9y6UZwGy-PzmMrYWaS4dcSeFDVpzHsoo=
      - AIRFLOW__API__AUTH_BACKENDS=airflow.api.auth.backend.default
      - MLFLOW_S3_ENDPOINT_URL=http://minio:9000
      - AWS_ACCESS_KEY_ID=minio
      - AWS_SECRET_ACCESS_KEY=minio123
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  pgvector_data:
  minio_data:
