# Base requirements
python-dotenv
fastapi
uvicorn
pydantic
requests
aiosqlite
aiohttp
asyncpg

# Database
psycopg2-binary
openpyxl
pandas
numpy

# NLP and ML
spacy
pycountry
python-Levenshtein==0.23.0
transformers
scikit-learn
torch
sentence-transformers

# Document processing
PyMuPDF
peft

# Storage
minio
fuzzywuzzy
langdetect
beautifulsoup4

langchain
langchain-community
pydantic
pytest
pytest-asyncio
openai
faiss-cpu
fastapi>=0.68.0
langchain-community
langgraph
sentence-transformers
python-Levenshtein
langchain-huggingface
pdfplumber