# Base requirements
python-dotenv
fastapi
uvicorn

pydantic
requests
aiosqlite
aiohttp

# Database
psycopg2-binary

# NLP and ML
spacy
pycountry
python-Levenshtein==0.23.0
transformers
scikit-learn
torch
sentence-transformers

# Document processing
PyMuPDF
peft

# Storage
minio
fuzzywuzzy
langdetect
beautifulsoup4